<h1>Create User</h1>

<form action=" <%= users_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
    <p> Already have an account?</p>
    <a href=" <%= new_session_url %>"> Log in!</a>
<br>
<br>
  <label for="username">Username:
    <input id="username" type="string" name="user[username]" value="">
  </label>

  <br>

  <label for="password">Password:
    <input id="password" type="password" name="user[password]" value="">
  </label>

<br>
  <br>

  <input type="submit" value="Sign Up!">
</form>
